<!-- section contact -->
<section class="contact bg-section-color pb-0" id="contact">
  <div class="container-fluid">
    <div class="col-12">
      <!-- start heading -->
      <div class="heading" id="heading">
        <div class="title text-center col-12">
          <h1>
            <span class="fw-bold display-4">Say </span>
            <span class="fw-lighter display-5">Hello</span>
          </h1>
          <p class="fw-light m-auto col-8 mt-4">
            Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Aspernatur aut odit aut
            fugit, sed quia consequuntur magni dolores eos qui ratione
            voluptatem sequi nesciunt.
          </p>
          <div class="form col-8 mt-5 m-auto">
            <div class="input d-flex flex-column flex-lg-row gap-2">
                <input type="email" class="form-control border-black rounded-0" id="floatingInput" placeholder="Your Email">
                <input type="text" class="form-control border-black rounded-0" id="floatingInput" placeholder="Subject">
            </div>
            <div class="textarea mt-3">
                <textarea class="form-control border-black rounded-0" placeholder="Message" id="floatingTextarea"></textarea>
            </div>
            <button class="white-color bg-black-color col-12 mt-3 border-0 py-2"> Send Message </button>
          </div>

          <!-- footer >> copyright -->
            <span class="mt-5 black-color d-block">© Apollo 2016</span>
        </div>
      </div>
      <!-- end heading -->
    </div>
  </div>
</section>
