<!-- section about -->
<section class="about bg-section-color" id="about">
  <div class="container-fluid">
    <div class="col-12">
      <!-- start heading -->
      <div
        class="heading d-flex flex-column flex-lg-row text-lg-center align-items-center justify-content-between"
        id="heading"
      >
        <div class="img col-12 col-lg-5">
          <img
            src="./assets/images/camera.png"
            alt="Camera"
            class="img-fluid w-100"
          />
        </div>

        <div class="title text-start ps-3 col-12 col-lg-6">
          <h1>
            <span class="fw-lighter display-5">My name is </span>
            <span class="fw-bold display-4">Apollo</span>
          </h1>
          <p class="fw-light col-11">
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
            officia deserunt mollit anim id est laborum. Sed ut perspiciatis
            unde omnis iste natus error sit voluptatem accusantium doloremque
            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
            veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
            fugit, sed quia consequuntur magni dolores eos qui ratione
            voluptatem sequi nesciunt.
          </p>
          <p class="fw-light col-11">
            Ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non
            numquam eius modi tempora incidunt ut labore et dolore magnam
            aliquam quaerat voluptatem.
          </p>
          <div class="social-media d-flex gap-4">
            <a href=""><i class="fa-brands fa-facebook-f"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-pinterest-p"></i></a>
          </div>
        </div>
      </div>
      <!-- end heading -->
    </div>
  </div>
</section>
