<!-- section home -->
<section class="home bg-section-color pb-0" id="home">
    <div class="container-fluid">
        <div class="col-12">
            <!-- start navbar custom -->
            <div class="navbar-custom">
                <nav class="navbar navbar-dark bg-dark">
                    <div class="container-fluid">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                </nav>
                <div class="collapse" id="navbarToggleExternalContent" data-bs-theme="dark">
                    <div class="bg-dark p-4">
                      <h5 class="text-body-emphasis h4">Collapsed content</h5>
                      <span class="text-body-secondary">Toggleable via the navbar brand.</span>
                    </div>
                </div>
            </div>
            <!-- end navbar custom -->

            <!-- start heading -->
            <div class="heading d-flex flex-column flex-lg-row text-lg-center align-items-center justify-content-between" id="heading">
                <div class="title text-start ps-3 col-12 col-lg-5">
                    <h1>
                        <span class="fw-bold display-4">Apollo </span>
                        <span class="fw-lighter display-5">Jade Template</span>
                    </h1>
                    <p class="fw-light">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.
                    </p>
                </div>

                <div class="img col-12 col-lg-6">
                    <img src="./assets/images/hero.png" alt="Hero" class="img-fluid w-100"/>
                </div>
            </div>
            <!-- end heading -->
        </div>
    </div>
</section>
