<!-- section work -->
<section class="work bg-section-color py-5" id="work">
  <div class="container-fluid">
    <div class="col-12">
      <!-- start heading -->
      <div
        class="heading d-flex flex-column flex-lg-row text-lg-center align-items-center justify-content-between"
        id="heading"
      >
        <div class="title text-start ps-3 col-12 col-lg-5">
          <h1 class="pb-4">
            <span class="fw-bold display-4">Ut enim </span>
            <span class="fw-lighter display-5">ad minim</span>
          </h1>
          <p class="fw-light col-11">
            Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Aspernatur aut odit aut
            fugit, sed quia consequuntur magni dolores eos qui ratione
            voluptatem sequi nesciunt.
          </p>
        </div>

        <div class="img col-12 col-lg-6">
          <img
            src="../../../assets/images/featured.jpg"
            alt="Featured"
            class="img-fluid w-100"
          />
        </div>
      </div>
      <!-- end heading -->
    </div>
  </div>
</section>
