<!-- start layout -->
<div class="layout my-4 mx-2">
  <div class="container-fluid">
    <div class="row">
      <!-- home component -->
       <div class="home-com">
        <app-home></app-home>
       </div>

      <!-- about component -->
      <div class="about-com mt-3">
        <app-about></app-about>
      </div>

      <!-- slide main component -->
      <div class="slide-main-com">
        <app-slide-main></app-slide-main>
      </div>

      <!-- work component -->
      <div class="work-com">
        <app-work></app-work>
      </div>

      <!-- slide second component -->
      <div class="slide-second-com">
        <app-slide-second></app-slide-second>
      </div>

      <!-- contact component -->
       <div class="contact-com">
        <app-contact></app-contact>
       </div>
    </div>
  </div>
</div>
<!-- end layout -->